/* Basic reset */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.welcome {
    padding: 20px;
}

.welcome h1 {
    font-size: 48px;
}

.welcome p {
    font-size: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}


/* Styling the navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff6347;
    /* Light coral color for hover effect */
}

/* Responsive styling for mobile view */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 1rem 0;
    }
}